<div class="module">
    <h1 class="header">${ config.moduleTitle }</h1>
    <hr>
    <div ng-if="config.loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
    <div ng-if="!config.loading">

    <div class="messages">
        <div ng-repeat="message in messages" class="card" style="width: 18rem; margin-bottom: 30px;">
            <div class="card-body">
              <h5 class="card-title">${ jsonParser(message.options).email }</h5>
              <p class="card-text">${ jsonParser(message.options).message }</p>
              <button 
                class="btn btn-primary"
                ng-click="deleteMessage(message)"
            >Usuń wiadomość</button>
            </div>
        </div>
    </div>
    
    </div>
</div>